<html>
  <head>
    <title>Welcome to the WWW 2006!</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script>
      $().ready(function () {
          pollServer();
      });

      function pollServer() {
          window.setTimeout(function () {
              $.ajax({
                  url: "/data",
                  type: "POST",
                  success: function (result) {
                    console.log(result);
                    $('#visitor-counter').html(result.VisitorCount);
                    pollServer();
                  },
                  error: function () {
                      pollServer();
                  }});
          }, 1000);
      }
    </script>
  </head>
  <body>
    <h1>Hello WWW 2006</h1>
    <h2>This page has had <span id="visitor-counter">{{.VisitorCount}}</span> visitors</h2>
  </body>
<html>
